{% extends 'layout.html' %}
{% block body %}
<div id="index">
	<div id="carousel-wrapper">
		<div id="carousel" class="owl-carousel">
			<div class="carousel-item">
				<img src="../static/images/carousel-alf-6.jpg">
			</div>
			<div class="carousel-item">
				<img src="../static/images/carousel-alf-4.jpg">
			</div>
			<div class="carousel-item">
				<img src="../static/images/carousel-alf-0.jpg">
			</div>
			<div class="carousel-item">
				<img src="../static/images/carousel-alf-7.jpg">
			</div>
			<div class="carousel-item">
				<img src="../static/images/carousel-alf-5.jpg">
			</div>
			<div class="carousel-item">
				<img src="../static/images/carousel-alf-3.jpg">
			</div>
			<div class="carousel-item">
				<img src="../static/images/carousel-alf-2.jpg">
			</div>
			<div class="carousel-item">
				<img src="../static/images/carousel-alf-8.jpg">
			</div>
			<div class="carousel-item">
				<img src="../static/images/carousel-alf-9.jpg">
			</div>
			<div class="carousel-item">
				<img src="../static/images/carousel-alf-0.jpg">
			</div>
		</div>
	</div>
	<div id="main">
		<div id="intro">
			<h1>We miss you, <span>Gordon Shumway</span></h1>
			<p>Gordon Shumway is a Melmacian nicknamed ALF (an acronym for Alien Life Form). ALF was born on October 28, 1756 on the Lower East Side of the planet Melmac. Melmac was located six parsecs past the Hydra-Centaurus Supercluster, and had a green sky, blue grass and a purple sun.</p>
			<p>Alf likes to burp. He attended high school for 122 years and was captain of a Bouillabaisseball team, a game played on ice using seafood as a ball.</p>
			<p>ALF has an enormous appetite; he is also troublesome, sarcastic, slovenly and cynical, and sometimes puts himself at the risk of being discovered while perpetrating some of his often-unintentional pranks. However, if things have gone too far, he does as much as possible to make up for his mistakes, generally with positive results. In a commercial for the NFL that ran during Super Bowl XLV on February 6, 2011, it was confirmed that ALF is a Carolina Panthers fan.</p>
		</div>
			Show highly voted posts only
	</div>

	

	
</div>
{% endblock %}


