{% extends 'layout.html' %}
{% block body %}
<div id="page-myPage">
	<div id="myInfo">
		<div id="photo-wrapper">
			<img src="../static/profile/{{user_info[5]}}">
		</div>
		<div id="info-wrapper">
			<div id="user-name">
				{{user_info[2]}}<span>{{user_info[1]}}</span>
			</div>
			<table id="user-stat">
				<tr>
					<td>Tweets</td><td class="td-num">{{user_stat[0]}}</td>
				</tr>
				<tr>
					<td id="showVoted">Votes</td><td class="td-num">{{user_info[6]}}</td>
				</tr>
				<tr>
					<td>Following</td><td class="td-num">{{user_stat[1]}}</td>
				</tr>
				<tr>
					<td>Followers</td><td class="td-num">{{user_stat[2]}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div id="mySections">
		<div class="section-tweets">	
			{% for post in user_posts: %}
			<div class="myPost">
				{{post[3]}}
				<div class="post-info">
					<span class="post-time">{{post[4]}} <img src="../static/images/remove-icon.png" width="13" pid="{{post[0]}}" class="removePost"></span>
					<span class="post-votes">{{post[5]}}</span>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="title">Followers</div>
		<div class="section">	
			{% for user in followers: %}
			<div class="myFollowers" uid="{{user[0]}}">
				<a href="/user_page/{{user[0]}}">
				<img class="follower-photo" src="../static/profile/{{user[3]}}">
				<div class="username">
						{{user[2]}}
				</div></a>
			</div>
			{% endfor %}
		</div>

		<div class="title">Following</div>
		<div class="section">	
			{% for user in followings: %}
			<div class="myFollowings" uid="{{user[0]}}">
				<a href="/user_page/{{user[0]}}">
				<img class="following-photo" src="../static/profile/{{user[3]}}">
				<div class="username">
						{{user[2]}}
				</div></a>
			</div>
			{% endfor %}
		</div>
	</div>

</div>

{% endblock %}